################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tests/Network/net_test1.ilk
/tests/Network/net_test1.pdb
