################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/deps/boost/tools/build/src/engine/bootstrap/